


<main class ="home-page">
<div class = "flex-container">
    <h1 class ="home-pageh1">Cinema Ironhack</h1>
    <button class = "home-pagebutton"><a href="/movies"> Check the movies!</a></button>

</div>
</main>

